<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Flask Username</title>
    <script>
      if ({{ logout }} === 0) {
          localStorage.removeItem('user_id')
      }
    </script>
  </head>
  <body>
    <form action="/username" method="POST">
      <input type="text" name="username" placeholder="Username" />
      <input type="submit" value="Start" />
    </form>
  </body>
</html>
